@import "/src/styles/breakpoints";

.page {
  width: 100%;
  font-family: sans-serif;
  background-color: #ffffff;
  display: flex;
  &__main {
    @media screen and (min-width: map-get($grid-breakpoints, sm)){
      max-width: map-get($container-max-widths, sm);
    }
    @media screen and (min-width: map-get($grid-breakpoints, md)){
      max-width: map-get($container-max-widths, md);
    }
    @media screen and (min-width: map-get($grid-breakpoints, lg)){
      max-width: map-get($container-max-widths, lg);
    }
    @media screen and (min-width: map-get($grid-breakpoints, xl)){
      max-width: map-get($container-max-widths, xl);
    }
    @media screen and (min-width: map-get($grid-breakpoints, xxl)){
      max-width: map-get($container-max-widths, xxl);
    }
    background: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    &__content {
      -ms-flex-align: center;
      justify-content: center;
      justify-self: center;
      grid-row: 2;
      grid-column: 2;
    }
  }
}
